body {
    height: 100vh;
    width: 100%;
    font-family: Roboto;
    overflow: hidden;
}

nav.ui {
    z-index: 3;
    height: 32px;
    width: 100%;
    background-color: rgb(0,0,0,0.7);
    box-shadow: 0 0 0 0 rgb(0,0,0);
}

    .ui {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .ui.title {
            position: absolute;
            margin: auto;
            color: white;
            font-family: Charmonman;
        }

        .ui.button {
            position: absolute;
            right: 4px;
            cursor: pointer;
            width: 72px;
            height: 26px;
            border-radius: 3px;
            background-color: grey;
            transition: 0.4s;
        }

        .ui.button:hover {
            background-color: silver;
        }

        .ui.beat-board {
            position: absolute;
            width: 100%;
            height: calc(60% - 16px);
            background: linear-gradient(to bottom, rgb(55,55,55), rgb(50,50,130));
            z-index: 2;
            top: 32px;
            overflow: hidden;
        }

        .ui.user-board {
            z-index: 3;
            position: absolute;
            bottom: 0;
            height: calc(40% - 16px);
            width: 100%;
            background: linear-gradient(to bottom, rgb(50,50,130), rgb(55,55,55));
            box-shadow: 0 0 20px 0 rgb(0,0,0);
        }